#star-scan-container {
	position: fixed;
	right: 16px;
	top: 48px;
	
	width: 192px;
	overflow: hidden;
	padding: 4px;
	box-sizing: border-box;
	text-align: center;
	
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

#star-scan-preview {
	width: 192px;
	height: 192px;
	margin: -4px auto 0;
	transform: scale(-1.6, 1.6);
}

#star-scan-message {
	margin: 0;
	position: relative;
	z-index: 1;
	background-color: white;
}
